body {
    font-family: Arial, sans-serif;
    background-color: rgb(193, 238, 221);
}

#header{
    background-color: rgb(90, 89, 89);
    color:#f7eeee;
}

.hr{
  height:5px;
  background-color: rgb(90, 89, 89);
}

.total{
    font-size: 25px;
}

h1 {
    text-align: center;
}

.product img{
    width:150px;
    height:150px;
    background-size: cover;
}

.products {
    display: flex;
    justify-content: space-around;
}

.product {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}

.add-to-cart {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

.cart {
    margin-top: 20px;
    text-align: center;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
